# Ignore environment variable files
.env
.env.example

# Ignore database files
*.db
db/forward.db1

# Ignore Python-generated cache files
**/__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
**/venv/
**/env/
**/ENV/

# Ignore Telethon session files
*.session
*.session-journal

# Ignore IDE config files
.idea/
ufb/.idea

# Ignore example and temporary config files
/example
/config/*
ufb/config/*

# Ignore unused image and test directories
**/test/
**/images/

# Ignore RSS data and temp files
/rss/media/*
/rss/data/*

# Ignore log files
logs/*

# Ignore temp folder
/temp/*

# Ignore .git and Docker-related files to prevent accidental inclusion
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
.github
.gitattributes
